# Missing in original

In [2]:
geno <-read.table("./Desktop/gs_analysis/Hetero_realigned_cov10_filtered3.raw", row.names=1, header=T)
row.names(geno)=1:240
x <- as.matrix(geno)-1   
pheno <- read.csv("./Desktop/gs_analysis/2017heteroPheno.csv", header=T)
attach(pheno)

The following objects are masked from pheno (pos = 3):

    bcw, gill, i5, i7, length, no, tank, vili, X

In [3]:
Missing <- data.frame(id = c (1:240), na=rep(NA,240) )
for (i in 1:240){
  Missing[i,2]<-sum(is.na(geno[i,]))
}

In [4]:
(which(Missing[,2]>3000))
(Missing[187,])

[1] 187

    id  na
187 187 3135

In [5]:
(which(Missing[,2]>2000))
(Missing[21,])

[1]  21 187

   id na
21 21 2625